  /*!
 * CSS partitally based on Bootstrap v4.6.0
 */

  :root {
    --primary-color: #E20066;
    --white-color: #ffffff;
    --dark-color: #010101;
    --menu-bg-color: #212529;
    --button-color: #343b41;
    --gray-color: #909090;
    --p-color: #7d7a7a;

    --base-font-family: "Plain", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-weight-light: 300;

    --h1-font-size: 2.5rem;
    --h3-font-size: 1.75rem;

    --p-font-size: 18px;
    --base-font-size: 16px;
    --button-font-size: 20px;
    --navbar-font-size: 34px;

    --border-radius-large: 100%;
    --border-radius-medium: 80px;
    --border-radius-small: 40px;
    
    color-scheme: light dark
  }

  @media (prefers-color-scheme:dark) {
    :root {
      --dark-color: #c5c5c5;
      --p-color: #c7bfc1
   }
  }

  /*---------------------------------------
     TYPOGRAPHY
  -----------------------------------------*/
  h1 {
    color: var(--h1-color);
    font-size: var(--h1-font-size)
  }

  h3 {
    font-size: var(--h3-font-size)
  }

  p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
    letter-spacing: 0.3px;
    line-height: 2em
  }

  /* NAVBAR BUTTON */
  .nav-button {
    background: var(--button-color);
    border: none;
    border-radius: var(--border-radius-medium);
    color: var(--white-color);
    letter-spacing: 0.2px;
    padding: 10px 25px 10px 25px;
    font-size: var(--button-font-size);
    white-space: nowrap;
    height: 50px;
    margin-right: 5px
  }

  body {
    margin: 0;
    line-height: 1.5;
    font-family: var(--base-font-family);
    background-color: var(--background-color)
  }

  p,
  ul {
    margin-top: 0;
    margin-bottom: 1rem
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
  }

  /*---------------------------------------
     GENERAL
  -----------------------------------------*/

  a {
    color: var(--dark-color);
    text-decoration: none;
    transition: all 0.4s linear
  }

  a:hover {
    color: var(--primary-color);
    text-decoration: none
  }


  /*---------------------------------------
     MENU
  -----------------------------------------*/

  .navbar {
    background: var(--menu-bg-color);
    padding: 0.3rem 1rem;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0
  }

  .nav-button:hover {
    background: var(--dark-color);
    color: var(--white-color)
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    margin: 0 1.5rem;
    padding: 0
  }

  .nav-item .nav-link.active,
  .nav-item .nav-link:hover {
    color: var(--gray-color)
  }

  .nav-item .nav-link.active,
  .nav-item .nav-link:hover {
    border-bottom-color: var(--primary-color)
  }

  .nav-link {
    color: var(--gray-color);
    border-bottom: 1px solid transparent
  }

  footer p {
    margin: 0.3rem 0
  }

  footer strong {
    display: inline-block;
    width: 30%;
    margin-right: 1rem
  }

  *,
  ::after,
  ::before {
    box-sizing: border-box
  }

  section {
    display: block
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-height: 70px
  }
  @media (min-width:576px) {
    .container {
      max-width: 540px
    }
  }
  @media (min-width:768px) {
    .container {
      max-width: 720px
    }
  }
  @media (min-width:992px) {
    .container {
      max-width: 960px
    }
  }
  @media (min-width:1200px) {
    .container {
      max-width: 1140px
    }
  }

  .btn {
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
  }

  @media (prefers-reduced-motion:reduce) {
    .btn {
      transition: none !important
    }
    a {
      transition: none !important
    }
  }

  .collapse:not(.show) {
    display: none
  }

  .navbar,
  .navbar .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
  }

  .navbar-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
  }

  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center
  }

  .border {
    border: 1px solid #dee2e6
  }

  .mt-4 {
    margin-top: 1.5rem !important
  }

  .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important
  }

  .section-padding {
    padding: 6rem 0
  }

  .side-padding {
    padding-right: 0.1em;
    padding-left: 0.1em
  }

  .nav-button {
    background: var(--button-color);
    border-radius: var(--border-radius-medium);
    padding: 10px 25px;
    height: 48px;
    margin-right: 5px
  }

  .nav-button-backup img {
    float: inline-start
  }

  @media screen and (max-width:991px) {
    .navbar-nav {
      margin: 1rem 0
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      display: inline-block;
      margin: 5px .5rem
    }
  }

  @media (min-width:992px) {
    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto
    }
    .navbar-expand-lg .navbar-toggler {
      display: none
    }
  }

  @media (max-width:991.98px) {
    .navbar-expand-lg>.container {
      padding-right: 0;
      padding-left: 0
    }
    .navbar-expand-lg .navbar-toggler {
      display: block
    }
    .navbar-nav {
      display: block
    }
    .navbar {
      padding-bottom: 1em
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
  }

  .hero-image {
    max-width: 100%
  }

  #youtube {
    border: none
  }